* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: palegreen;
  display: grid;
  grid-template-columns: 280px 1fr;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.title {
  grid-column: 2;
  text-align: center;
  margin: 20px 0;
}

#big-cookie {
  grid-column-start: 2;
  height: 250px;
  width: 250px;
  cursor: pointer;
  justify-self: center;
  align-self: center;
}

#shop-container {
  position: absolute;
  gap: 10px;
  padding: 10px;
  overflow-y: auto;
  height: 100vh;
  background-color: #d0f0c0;
}

.shop-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px;
  border: 1px solid #000000;
  background-color: aliceblue;
  border-radius: 6px;
}

.shop-button {
  padding: 4px 8px;
  cursor: pointer;
}

#cookies-and-cps {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
  justify-self: center;
}
.cookie-info {
  display: grid;
  grid-column-start: 2;
}
